<h3>Welcome to Startups2Students</h3>
	<strong><h3>This site is currently under construction. Please visit <a href = "http://csuac.com/tagged/s2s">CSUAC.com</a> </h3></strong>	
	<h4>Available Positions</h4>
	<table class="table table-striped">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Job Type</th>
      <th>Location</th>
      <th>Contact email</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.job_type %></td>
        <td><%= job.description %></td>
        <td><%= job.contact %></td>
      </tr>
    <% end %>
  </tbody>
</table>

